n8n/Filò  Lead Intake.json
{
  "name": "Filò — Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "filo-lead",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "5ad551d8-b16a-48de-b51b-50587435f6dc",
      "name": "Webhook · /filo-lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        288
      ],
      "webhookId": "filo-lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ (($json.headers?.['x-filo-webhook-secret'] ?? '').toString()) === (($env.N8N_WEBHOOK_SECRET ?? '').toString()) && (($env.N8N_WEBHOOK_SECRET ?? '').toString().length > 0) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9b8b7007-6484-4bc1-bb52-8fd09e3e7f10",
      "name": "IF Webhook Secret Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -888,
        288
      ],
      "notesInFlow": true,
      "notes": "Guards production webhook. Header read expression: (($json.headers?.['x-filo-webhook-secret'] ?? '').toString()). Compare with (($env.N8N_WEBHOOK_SECRET ?? '').toString()). Env must be non-empty."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Forbidden' } }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "d4d93c61-c2f6-446c-9f5d-6c4b888bc4f1",
      "name": "Respond 403 Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -648,
        448
      ],
      "notesInFlow": true,
      "notes": "Stops unauthorized direct webhook calls before validation, Sheets, Telegram, or email nodes."
    },
    {
      "parameters": {
        "jsCode": "const body = ($input.first().json.body ?? $input.first().json) || {};\n\nconst clean = (v, max = 4000) =>\n  (typeof v === 'string' ? v : '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, max);\n\nconst normalizeEmail = (v) => clean(v, 254).toLowerCase();\nconst normalizePhone = (v) => clean(v, 40).replace(/[^\\d+]/g, '');\n\nconst emailRe = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst phoneRe = /^[+\\d][\\d\\s().-]{5,}$/;\nconst allowedInterests = new Set(['galatea', 'cricchetto', 'atlas', 'igea', 'hermes', 'not_sure']);\n\nconst nome = clean(body.nome, 120);\nconst attivita = clean(body.attivita, 160);\nconst settore = clean(body.settore, 120);\nconst email = normalizeEmail(body.email);\nconst email_normalized = email;\nconst telefono = clean(body.telefono, 40);\nconst telefono_normalized = normalizePhone(body.telefono);\nconst citta = clean(body.citta, 120);\nconst prodotto_interesse = clean(body.prodotto_interesse, 40).toLowerCase();\nconst messaggio = clean(body.messaggio, 4000);\nconst consent =\n  body.privacy_consent === 'Yes' ||\n  body.privacy_consent === true ||\n  body.privacy_consent === 'true';\n\nconst errors = [];\nif (!nome) errors.push('nome');\nif (!attivita) errors.push('attivita');\nif (!settore) errors.push('settore');\nif (!email || !emailRe.test(email)) errors.push('email');\nif (!telefono || !phoneRe.test(telefono)) errors.push('telefono');\nif (!messaggio) errors.push('messaggio');\nif (!prodotto_interesse || !allowedInterests.has(prodotto_interesse)) errors.push('prodotto_interesse');\nif (!consent) errors.push('privacy_consent');\n\nif (errors.length) {\n  return [{\n    json: {\n      __ok: false,\n      status: 400,\n      error: 'Dati non validi',\n      fields: errors\n    }\n  }];\n}\n\nconst lead_id = `lead_${Date.now()}_${Math.random().toString(36).slice(2, 10)}`;\nconst created_at = new Date().toISOString();\n\nreturn [\n  {\n    json: {\n      __ok: true,\n      lead_id,\n      created_at,\n      nome,\n      attivita,\n      settore,\n      email,\n      email_normalized,\n      telefono,\n      telefono_normalized,\n      citta,\n      prodotto_interesse,\n      messaggio,\n      privacy_consent: 'Yes',\n      source: 'website',\n      status: 'new',\n      owner_notified: false,\n      customer_email_sent: false,\n      note: ''\n    }\n  }\n];"
      },
      "id": "7470197d-42de-4efb-8fab-daa7ea00413f",
      "name": "Normalize + Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.__ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "db108e63-e758-440a-b203-d9dbafb311e2",
      "name": "IF valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -528,
        288
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=17FYcOxjeMc1llB1JEL2KKKZ6lPNBA3bmCPSa9ibd9bI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "created_at": "={{ $json.created_at }}",
            "nome": "={{ $json.nome }}",
            "attivita": "={{ $json.attivita }}",
            "settore": "={{ $json.settore }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}",
            "citta": "={{ $json.citta }}",
            "prodotto_interesse": "={{ $json.prodotto_interesse }}",
            "messaggio": "={{ $json.messaggio }}",
            "privacy_consent": "={{ $json.privacy_consent }}",
            "source": "={{ $json.source }}",
            "status": "={{ $json.status }}",
            "owner_notified": "={{ $json.owner_notified }}",
            "customer_email_sent": "={{ $json.customer_email_sent }}",
            "note": "={{ $json.note }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "attivita",
              "displayName": "attivita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "settore",
              "displayName": "settore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "citta",
              "displayName": "citta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prodotto_interesse",
              "displayName": "prodotto_interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messaggio",
              "displayName": "messaggio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "privacy_consent",
              "displayName": "privacy_consent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "owner_notified",
              "displayName": "owner_notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email_sent",
              "displayName": "customer_email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "__ok",
              "displayName": "__ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0b5ef660-6bf1-4bcc-8005-1bf6b928df3c",
      "name": "Google Sheets · Append Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -240,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8759063589:AAEsQ0QQzwAsIcjef3Isk8VKjMdXoNxUEJM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"147715726\",\n  \"text\": \"Nuovo lead dal sito\\n\\nNome: {{ $json.nome }}\\nAzienda: {{ $json.attivita }}\\nSettore: {{ $json.settore }}\\nEmail: {{ $json.email }}\\nTelefono: {{ $json.telefono }}\\nCittà: {{ $json.citta }}\\nInteresse: {{ $json.prodotto_interesse }}\\nMessaggio: {{ $json.messaggio }}\\nData: {{ $json.created_at }}\",\n  \"disable_web_page_preview\": true\n}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "aa87233e-d0cb-41cc-a1a4-d5784e06eda1",
      "name": "Telegram · Notify Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        192
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Requires TELEGRAM_BOT_TOKEN + TELEGRAM_CHAT_ID in n8n environment. Bot username: @leadfilo_bot. Start a chat with the bot and run /start before running the workflow, otherwise Telegram rejects the first sendMessage with 403."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.error || 'Dati non validi', fields: $json.fields || [] } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "36b49d87-d06b-4e6e-8c9d-e5855c39c9ba",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -240,
        400
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1AEI9B3DU6oZr7izXIkLYRJd4EREIdiHckvd3bvisA3U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lead_Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "lead_id": "={{ $('Normalize + Validate').item.json.lead_id }}",
            "step": "sheets_append",
            "esito": "success",
            "detail": "lead salvato in Leads"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "esito",
              "displayName": "esito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errore",
              "displayName": "errore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detail",
              "displayName": "detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ec726ff4-88bd-475b-986e-d1ec7355a972",
      "name": "Log · Sheets OK",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -112,
        -64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1AEI9B3DU6oZr7izXIkLYRJd4EREIdiHckvd3bvisA3U",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Lead_Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "lead_id": "={{ $('Normalize + Validate').item.json.lead_id }}",
            "step": "telegram_notify",
            "esito": "={{ $json.owner_notified ? 'success' : 'error' }}",
            "errore": "={{ $json.owner_notified ? '' : 'telegram_send_failed' }}",
            "detail": "={{ $json.owner_notified ? 'notifica owner inviata' : 'telegram non raggiungibile o risposta non ok' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "esito",
              "displayName": "esito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errore",
              "displayName": "errore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detail",
              "displayName": "detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8e1a52c9-bad6-4e18-8fe7-e7022dae3d9f",
      "name": "Log · Telegram Result",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.MAIL_FROM }}",
        "toEmail": "={{ $env.MAIL_FROM }}",
        "subject": "=[Filò] Backup interno lead — {{ $('Normalize + Validate').item.json.lead_id }}",
        "emailFormat": "text",
        "text": "=Backup interno del lead appena ricevuto (solo per owner, non per il cliente).\n\nlead_id: {{ $('Normalize + Validate').item.json.lead_id }}\ncreated_at: {{ $('Normalize + Validate').item.json.created_at }}\nnome: {{ $('Normalize + Validate').item.json.nome }}\nattivita: {{ $('Normalize + Validate').item.json.attivita }}\nsettore: {{ $('Normalize + Validate').item.json.settore }}\nemail: {{ $('Normalize + Validate').item.json.email }}\ntelefono: {{ $('Normalize + Validate').item.json.telefono }}\ncitta: {{ $('Normalize + Validate').item.json.citta }}\ninteresse: {{ $('Normalize + Validate').item.json.prodotto_interesse }}\nmessaggio: {{ $('Normalize + Validate').item.json.messaggio }}",
        "options": {}
      },
      "id": "3c3332f6-059b-49d1-8e30-50a6a3926ba9",
      "name": "Owner Email · Internal Backup (SCAFFOLD)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1360,
        192
      ],
      "notesInFlow": true,
      "webhookId": "67188248-c3b8-47a4-b766-a2d9d301faae",
      "disabled": true,
      "continueOnFail": true,
      "notes": "SCAFFOLD — disabilitato. Attivare SOLO quando una credenziale SMTP reale è presente (SMTP_HOST/PORT/USER/PASS in n8n + credenziale 'smtp' collegata). Invia all'owner un backup interno del lead. Non è l'email di conferma cliente: destinatario = MAIL_FROM = info@filo-ai.it. continueOnFail=true per non bloccare il flusso. manca: provider SMTP reale."
    },
    {
      "parameters": {
        "from": "Filò <info@send.filo-ai.it>",
        "to": "={{ $('Normalize + Validate').item.json.email }}",
        "subject": "Abbiamo ricevuto la tua richiesta — Filò",
        "emailFormat": "text",
        "text": "=Ciao {{ $('Normalize + Validate').item.json.nome }},\n\nabbiamo ricevuto correttamente la tua richiesta di contatto per Filò.\n\nTi ricontatteremo il prima possibile per approfondire la tua esigenza relativa a {{ $('Normalize + Validate').item.json.prodotto_interesse }}.\n\nRiepilogo richiesta:\n- Nome: {{ $('Normalize + Validate').item.json.nome }}\n- Azienda: {{ $('Normalize + Validate').item.json.attivita }}\n- Settore: {{ $('Normalize + Validate').item.json.settore }}\n- Email: {{ $('Normalize + Validate').item.json.email }}\n- Telefono: {{ $('Normalize + Validate').item.json.telefono }}\n- Città: {{ $('Normalize + Validate').item.json.citta }}\n- Interesse: {{ $('Normalize + Validate').item.json.prodotto_interesse }}\n\nMessaggio:\n{{ $('Normalize + Validate').item.json.messaggio }}\n\nGrazie,\nFilò\ninfo@filo-ai.it",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        112,
        640
      ],
      "id": "b88ceb5f-26b2-4cf4-9dfe-a6120765beb6",
      "name": "Customer Email · Confirm",
      "webhookId": "b8b40949-11ef-43ef-8f5b-7f95204b48a6",
      "retryOnFail": true,
      "credentials": {
        "resendApi": {
          "id": "cJiRDji8yt1IpdJP",
          "name": "Resend account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Dati acquisiti correttamente\",\n  \"lead_id\": \"{{ $('Normalize + Validate').item.json.lead_id }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2451b8a5-5b9e-4633-aedc-5b5533e382ac",
      "name": "Respond ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1760,
        640
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17FYcOxjeMc1llB1JEL2KKKZ6lPNBA3bmCPSa9ibd9bI",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17FYcOxjeMc1llB1JEL2KKKZ6lPNBA3bmCPSa9ibd9bI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1823347337,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17FYcOxjeMc1llB1JEL2KKKZ6lPNBA3bmCPSa9ibd9bI/edit#gid=1823347337"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Normalize + Validate').item.json.lead_id }}",
            "customer_email_sent_at": "={{ new Date().toISOString() }}",
            "customer_email_sent": "true"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "attivita",
              "displayName": "attivita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "settore",
              "displayName": "settore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "citta",
              "displayName": "citta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prodotto_interesse",
              "displayName": "prodotto_interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "messaggio",
              "displayName": "messaggio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "privacy_consent",
              "displayName": "privacy_consent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_notified",
              "displayName": "owner_notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customer_email_sent",
              "displayName": "customer_email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_email_sent_at",
              "displayName": "customer_email_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "__ok",
              "displayName": "__ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        640
      ],
      "id": "17ceaa1e-c497-407a-847a-33e3188d3259",
      "name": "Google Sheets · Update Lead Email Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AEI9B3DU6oZr7izXIkLYRJd4EREIdiHckvd3bvisA3U",
          "mode": "list",
          "cachedResultName": "Lead_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AEI9B3DU6oZr7izXIkLYRJd4EREIdiHckvd3bvisA3U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1592737942,
          "mode": "list",
          "cachedResultName": "Lead_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AEI9B3DU6oZr7izXIkLYRJd4EREIdiHckvd3bvisA3U/edit#gid=1592737942"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "lead_id": "={{ $('Normalize + Validate').item.json.lead_id }}",
            "step": "customer_email",
            "esito": "success",
            "errore": "\"\"",
            "detail": "customer confirmation email sent"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "esito",
              "displayName": "esito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "errore",
              "displayName": "errore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detail",
              "displayName": "detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        640
      ],
      "id": "3ac9fc5d-2fb3-442e-9b01-0ceb2c017cda",
      "name": "Log · Customer Email Result",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1edVConI2i4q9RYDQf-x-rHUKH3LMmoi2ReELoRZWFKk",
          "mode": "list",
          "cachedResultName": "Email_Sent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edVConI2i4q9RYDQf-x-rHUKH3LMmoi2ReELoRZWFKk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email_Sent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edVConI2i4q9RYDQf-x-rHUKH3LMmoi2ReELoRZWFKk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email_normalized",
              "lookupValue": "={{ $('Normalize + Validate').item.json.email_normalized }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        304
      ],
      "id": "f78d2a59-97b5-4197-a6c4-c88199fb3864",
      "name": "Google Sheets · Read Lead Email Status",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed7d528f-c07d-4a53-9fe4-36ea5cb8ca46",
              "leftValue": "={{ $json.email_normalized }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        304
      ],
      "id": "b9be5006-2142-4676-841f-e7e4a3893a22",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1edVConI2i4q9RYDQf-x-rHUKH3LMmoi2ReELoRZWFKk",
          "mode": "list",
          "cachedResultName": "Email_Sent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edVConI2i4q9RYDQf-x-rHUKH3LMmoi2ReELoRZWFKk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email_Sent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1edVConI2i4q9RYDQf-x-rHUKH3LMmoi2ReELoRZWFKk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Normalize + Validate').item.json.email }}",
            "first_lead_id": "={{ $('Normalize + Validate').item.json.lead_id }}",
            "sent_at": "={{ new Date().toISOString() }}",
            "email_normalized": "={{ $('Normalize + Validate').item.json.email_normalized }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_lead_id",
              "displayName": "first_lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_normalized",
              "displayName": "email_normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        640
      ],
      "id": "98b538c1-25ef-43b7-bc27-9e4f38da4a47",
      "name": "Google Sheets - Append Email_Sent",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "17FYcOxjeMc1llB1JEL2KKKZ6lPNBA3bmCPSa9ibd9bI",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17FYcOxjeMc1llB1JEL2KKKZ6lPNBA3bmCPSa9ibd9bI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1823347337,
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17FYcOxjeMc1llB1JEL2KKKZ6lPNBA3bmCPSa9ibd9bI/edit#gid=1823347337"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Normalize + Validate').item.json.lead_id }}",
            "owner_notified": " true",
            "owner_notified_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "attivita",
              "displayName": "attivita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "settore",
              "displayName": "settore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "citta",
              "displayName": "citta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prodotto_interesse",
              "displayName": "prodotto_interesse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "messaggio",
              "displayName": "messaggio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "privacy_consent",
              "displayName": "privacy_consent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_notified",
              "displayName": "owner_notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email_sent",
              "displayName": "customer_email_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customer_email_sent_at",
              "displayName": "customer_email_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "__ok",
              "displayName": "__ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_normalized",
              "displayName": "email_normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono_normalized",
              "displayName": "telefono_normalized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "owner_notified_at",
              "displayName": "owner_notified_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -288
      ],
      "id": "e3d9d042-ae3b-46a7-89d8-efe1dcd7a6bf",
      "name": "Google Sheets - Update Owner Notified",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T99OoUZYRdCcx7JO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb3d75ff-4071-46d2-98aa-077a26d58e7f",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        192
      ],
      "id": "4c3c5353-75cf-4559-8ad6-ecc0b80e296c",
      "name": "IF Telegram Success"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook · /filo-lead": {
      "main": [
        [
          {
            "node": "IF Webhook Secret Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Webhook Secret Valid?": {
      "main": [
        [
          {
            "node": "Normalize + Validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Validate": {
      "main": [
        [
          {
            "node": "IF valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF valid": {
      "main": [
        [
          {
            "node": "Google Sheets · Append Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets · Append Lead": {
      "main": [
        [
          {
            "node": "Telegram · Notify Owner",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log · Sheets OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram · Notify Owner": {
      "main": [
        [
          {
            "node": "IF Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log · Telegram Result": {
      "main": [
        []
      ]
    },
    "Customer Email · Confirm": {
      "main": [
        [
          {
            "node": "Google Sheets - Append Email_Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets · Update Lead Email Status": {
      "main": [
        [
          {
            "node": "Log · Customer Email Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log · Customer Email Result": {
      "main": [
        [
          {
            "node": "Respond ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets · Read Lead Email Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Email · Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Append Email_Sent": {
      "main": [
        [
          {
            "node": "Google Sheets · Update Lead Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update Owner Notified": {
      "main": [
        [
          {
            "node": "Owner Email · Internal Backup (SCAFFOLD)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets · Read Lead Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Telegram Success": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Owner Notified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log · Telegram Result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets · Read Lead Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "edae18d4-5cda-4426-b7da-7b3974ccc7bc",
  "meta": {
    "instanceId": "df5384e6f2347cd6ede64b56224851f2aa5ed4e48945650250d840858c4282a4"
  },
  "id": "6OrXVAvDxMRSIeHd",
  "tags": [
    {
      "updatedAt": "2026-04-20T21:43:24.052Z",
      "createdAt": "2026-04-20T21:43:24.052Z",
      "id": "MtzKmuFaNHznHgu5",
      "name": "filo"
    },
    {
      "updatedAt": "2026-04-20T21:43:24.056Z",
      "createdAt": "2026-04-20T21:43:24.056Z",
      "id": "a8NDwofffnsKv3s3",
      "name": "lead-intake"
    }
  ]
}
